<ion-header>
  <ion-navbar>
    <ion-searchbar [(ngModel)]="searchTerm" [showCancelButton]="true" >
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div *ngIf="loaded && users.length==0" text-center>No Users Found</div>
  <user *ngFor="let user of users | searchUser:searchTerm" [user]="user"></user>
  <ion-spinner name="bubbles" *ngIf="!loaded"></ion-spinner>
  <button ion-button block (click)="loadMoreUsers()" *ngIf="loaded && users.length!=0">Load More</button>
</ion-content>
